<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Plugin\Block\Topmenu" type="Fary\SimpleMenu\Block\Megamenu" />
    <preference for="Magento\Theme\Block\Html\Topmenu" type="Fary\SimpleMenu\Block\Html\Topmenu" />
</config>

